Source: bat
Section: unknown
Priority: extra
Maintainer: Armijn Hemel <armijn@binaryanalysis.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.binaryanalysis.org/

Package: bat
Architecture: any
Depends: python-support, python (>= 2.5), python-magic, binutils, e2fsprogs, e2tools, squashfs-tools, fuse-utils, coreutils, module-init-tools, gzip, xz-utils, lzma, zip, unrar-free, cabextract, unshield, p7zip, cpio, tar, bzip2, mtd-utils, lzip, lzop, fuseiso, arj, giflib-tools, icoutils, gettext, rpm, python-rpm, libgd-tools, bat-extratools
Description: Modular framework to assist auditing binary files
 The Binary Analysis Tool is a modular framework that assists with auditing
 the contents of compiled software. It makes it easier and cheaper to look
 inside technology, and this helps compliance and due diligence activities.
 .
 The tool is freely available to everyone. The community can use it and
 participate in further development, and work together to help reduce errors
 when shipping devices or products containing Free and Open Source Software.


## stuff we need to find an alternative for, one day
#requires = mtd-utils-ubi, PyXML
