[extractconfig]
configtype = global

## first the database credentials
postgresql_user     = bat
postgresql_password = bat
postgresql_db       = bat
#postgresql_port     = 5432
#postgresql_host     = 127.0.0.1
#
## first the database credentials
#auth_postgresql_user     = bat
#auth_postgresql_password = bat
#auth_postgresql_db       = bat_old
#auth_postgresql_port     = 5432
#auth_postgresql_host     = 127.0.0.1
#authcopy = string:function:variable
#

##
scanlicense = yes
scancopyright = yes
scansecurity = yes
cleanup = yes
## should the database be wiped?
wipe = no
## directory where to unpack sources
unpackdir = /ramdisk
extrahashes = md5:sha1:crc32:tlsh
nomoschunks = 10
urlcutoff = 1000
maxstringcutoff = 1000
minstringcutoff = 4
## below are for for generatelistrpm.py
patchesdir = /tmp/patches
rpmdb = /tmp/rpmdb.sqlite3
insecurerpm = yes
## cutoff is 200 MiB
cutoff = 209715200

## configuration for CVE parser
[cveconfig]
## directory of where to store patches that are mentioned
## in a CVE report
patchdir = /home/bat/cve/git

## now follows per package configuration

[bash]
configtype = package
extensions = .def:C

[chromium]
configtype = package
blacklist = icudt46l_dat.S:icudt42l_dat.S:icudtl_dat.S:icudt42l_dat.s

[qt]
configtype = package
blacklist = icudt46l_dat.S:icudt42l_dat.S:icudtl_dat.S:icudt42l_dat.s

[freecad]
configtype = package
blacklist = Arch_rc.py

[linux]
configtype = package
alwaysscan = string:function
