[extractconfig]
configtype = global
database = /tmp/test/master.sqlite3
scanlicense = yes
licensedb = /tmp/test/licenses.sqlite3
ninkacommentsdb = /tmp/test/ninkacomments.sqlite3
scancopyright = yes
cleanup = yes
wipe = no
unpackdir = /ramdisk
#extrahashes = md5:sha1

## now follows per package configuration

[bash]
configtype = package
extensions = .def:C
