#############################
### generic configuration ###
#############################

[batconfig]
multiprocessing = yes
module = bat.simpleprettyprint
output = prettyprintresxml
outputlite = yes

############################
### viewer configuration ###
############################

[viewer]
htmldir = /home/armijn/html/files
#filter = graphics:text:empty:link

####################
### prerun scans ###
####################

[checkXML]
type        = prerun
module      = bat.prerun
method      = searchXML
priority    = 2
noscan      = elf:graphics:compressed:font:java:sqlite3:audio:video
description = Check XML validity
enabled     = yes

[verifyandroiddex]
type        = prerun
module      = bat.prerun
method      = verifyAndroidDex
priority    = 1
magic       = dex
description = Check if file is an Android DEX file
enabled     = yes

[verifyandroidodex]
type        = prerun
module      = bat.prerun
method      = verifyAndroidOdex
priority    = 1
magic       = dex:odex
description = Check if file is an Android ODEX file
enabled     = yes

[verifyandroidresource]
type        = prerun
module      = bat.prerun
method      = verifyAndroidResource
priority    = 1
noscan      = elf:graphics:compressed:font:java:sqlite3
description = Check if file is an Android resource file
enabled     = yes

[verifyandroidxml]
type        = prerun
module      = bat.prerun
method      = verifyAndroidXML
priority    = 1
noscan      = elf:graphics:compressed:font:java:sqlite3
description = Check if file is an Android binary XML file
enabled     = yes

[verifybz2]
type        = prerun
module      = bat.prerun
method      = verifyBZ2
priority    = 1
noscan      = elf:graphics:compressed:font:java:sqlite3
description = Check if complete file is a valid bzip2 file
enabled     = no

[verifyelf]
type        = prerun
module      = bat.prerun
method      = verifyELF
priority    = 3
description = Check if file is a valid ELF library/executable/object
enabled     = yes

[verifygraphics]
type        = prerun
module      = bat.prerun
method      = verifyGraphics
magic       = bmp:jpeg:jpegtrailer:gif87:gif89:png:pngtrailer
priority    = 3
description = Check if file is a valid graphics file, or consists of just graphics files
enabled     = yes

[verifygzip]
type        = prerun
module      = bat.prerun
method      = verifyGzip
priority    = 3
noscan      = elf:graphics:font:java:sqlite3
description = Check if complete file is a valid gzip file
enabled     = yes

[verifyico]
type        = prerun
module      = bat.prerun
method      = verifyIco
priority    = 1
noscan      = elf:graphics:compressed:font:java:sqlite3
description = Check if complete file is a valid Windows ICO file
enabled     = yes

[verifyjar]
type        = prerun
module      = bat.prerun
method      = verifyJAR
priority    = 1
noscan      = elf:graphics:font:sqlite3
description = Check if complete file is a valid JAR file
enabled     = no

[verifyjava]
type        = prerun
module      = bat.prerun
method      = verifyJavaClass
magic       = java
priority    = 3
noscan      = elf:graphics:compressed:font:sqlite3
description = Check if complete file is a valid Java class file
enabled     = yes

[verifymessagecatalog]
type        = prerun
module      = bat.prerun
method      = verifyMessageCatalog
priority    = 1
noscan      = elf:graphics:font:java:sqlite3
description = Check if file is a valid GNU Message Catalog file
enabled     = yes

[verifymp4]
type        = prerun
module      = bat.prerun
method      = verifyMP4
magic       = mp4
priority    = 3
noscan      = elf:graphics:font:java:sqlite3
description = Check if file is a valid MP4 file
enabled     = yes

[verifyogg]
type        = prerun
module      = bat.prerun
method      = verifyOgg
priority    = 3
magic       = ogg
noscan      = elf:graphics:font:java:sqlite3
description = Check if file is a valid Ogg file
enabled     = yes

[verifyotf]
type        = prerun
module      = bat.prerun
method      = verifyOTF
priority    = 1
magic       = otf
noscan      = elf:graphics:java:sqlite3
description = Check if file contains OpenType font data
enabled     = yes

[verifype]
type        = prerun
module      = bat.prerun
method      = verifyPE
priority    = 1
magic       = pe
description = Check if file is a valid PE executable
enabled     = no

[verifysqlite3]
type        = prerun
module      = bat.prerun
method      = verifySqlite3
priority    = 2
noscan      = text:elf:graphics:compressed:font:xml
magic       = sqlite3
description = Check if file contains a valid SQLite 3 database
enabled     = yes

[verifytext]
type        = prerun
module      = bat.prerun
method      = verifyText
priority    = 4
description = Check if file contains just ASCII text
enabled     = yes

[verifyttf]
type        = prerun
module      = bat.prerun
method      = verifyTTF
priority    = 1
noscan      = elf:graphics:java:sqlite3
description = Check if file contains a single TTF font
enabled     = yes

[verifytz]
type        = prerun
module      = bat.prerun
method      = verifyTZ
priority    = 1
noscan      = elf:graphics:font:java:sqlite3
description = Check if file contains a timezone file
enabled     = yes

[verifywoff]
type        = prerun
module      = bat.prerun
method      = verifyWOFF
priority    = 1
noscan      = elf:graphics:java:sqlite3
description = Check if file contains a WOFF font
enabled     = yes

[vimswap]
type        = prerun
module      = bat.prerun
method      = verifyVimSwap
priority    = 1
noscan      = elf:graphics:font:compressed:java:sqlite3
description = Check if file is a Vim swap file
enabled     = yes

####################
### unpack scans ###
####################

[7z]
type        = unpack
module      = bat.fwunpack
method      = searchUnpack7z
priority    = 1
magic       = 7z
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack 7z compressed files
enabled     = yes

[android-sparse]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackAndroidSparse
priority    = 5
magic       = android-sparse
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:elf:java
description = Unpack Android sparse files and convert them to ext4
enabled     = yes

[ar]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackAr
priority    = 3
magic       = ar
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack ar archives
enabled     = yes

[arj]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackARJ
priority    = 1
magic       = arj
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack ARJ compressed files
enabled     = no

[base64]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackBase64
priority    = 0
noscan      = xml:graphics:binary:pdf:compressed:audio:video:mp4:java
description = Decode base64 encoded files
enabled     = yes

[byteswap]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackByteSwap
priority    = 100
noscan      = xml:graphics:pdf:compressed:audio:video:mp4:java:elf
description = Byteswap files for 16 bit flash
enabled     = yes

[bzip2]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackBzip2
priority    = 1
magic       = bz2
noscan      = text:xml:graphics:pdf:gzip:lrzip:audio:video:mp4:java
description = Unpack bzip2 compressed files
enabled     = yes

[cab]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackCab
priority    = 1
magic       = cab
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Unpack MS Windows Cabinet archives
enabled     = yes

[compress]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackCompress
priority    = 1
magic       = compress
noscan      = text:xml:gzip:graphics:pdf:audio:video:mp4:elf:java
description = Unpack files compressed with compress
enabled     = yes

[cpio]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackCpio
priority    = 3
magic       = cpio1:cpio2:cpio3:cpiotrailer
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Unpack CPIO archives
enabled     = yes

[cramfs]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackCramfs
priority    = 4
magic       = cramfs_le:cramfs_be
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:elf:java
description = Unpack cramfs file systems
enabled     = yes

[exe]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackExe
priority    = 2
optmagic    = pkbac:winrar
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java:resource
description = Unpack Microsoft Windows Executable files
enabled     = yes

[ext2fs]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackExt2fs
priority    = 4
magic       = ext2
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:elf:java
description = Unpack EXT2/3/4 file systems
enabled     = yes

[gif]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackGIF
priority    = 0
magic       = gif87:gif89
noscan      = text:xml:graphics:pdf:compressed:resource:audio:mp4:java:elf
description = Carve GIF files from a file
enabled     = yes

[gzip]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackGzip
priority    = 1
magic       = gzip
noscan      = text:xml:graphics:pdf:bz2:lrzip:audio:video:mp4:java
description = Unpack gzip compressed files
enabled     = yes

[ico]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackIco
priority    = 0
scanonly    = ico
noscan      = text:xml:pdf:compressed:graphics:resource:audio:video:mp4:java
description = Carve ICO files from a file
enabled     = yes

[installshield]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackInstallShield
priority    = 1
magic       = installshield
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack InstallShield compressed files
enabled     = yes

[iso9660]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackISO9660
priority    = 5
magic       = iso9660
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Unpack ISO9660 (CD-ROM) file systems
enabled     = yes

[java_serialized]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackJavaSerialized
priority    = 3
magic       = java_serialized
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java:elf
description = Unpack Java serialized files
enabled     = yes

[jffs2]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackJffs2
priority    = 2
magic       = jffs2_le:jffs2_be
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:elf:java:resource:dalvik
description = Unpack JFFS2 file systems
enabled     = yes

[lrzip]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackLRZIP
priority    = 1
magic       = lrzip
noscan      = text:xml:graphics:pdf:bz2:gzip:lzip:audio:video:mp4:java
description = Unpack LRZIP compressed files
enabled     = yes

[lzip]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackLzip
priority    = 1
magic       = lzip
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack LZIP compressed files
enabled     = yes

[lzma]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackLZMA
priority    = 0
magic       = lzma_alone:lzma_alone_alt:lzma_alone_alt2
noscan      = text:xml:graphics:pdf:bz2:zip:gzip:lrzip:resource:dalvik:audio:video:mp4:elf:java
description = Unpack LZMA compressed files
envvars     = LZMA_MINIMUM_SIZE=10
enabled     = yes

[lzo]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackLzo
priority    = 1
magic       = lzo
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack LZO compressed files
enabled     = yes

[minix]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackMinix
priority    = 1
magic       = minix
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack Minix file systems
enabled     = yes

[pack200]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackPack200
priority    = 1
magic       = pack200
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack Pack200 archives
enabled     = no

[pdf_unpack]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackPDF
priority    = 5
magic       = pdf:pdftrailer
noscan      = text:xml:graphics:compressed:audio:video:mp4:java
description = Carve PDF files from a file
enabled     = yes

[png]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackPNG
priority    = 0
magic       = png:pngtrailer
noscan      = text:xml:pdf:compressed:graphics:resource:audio:java
description = Carve PNG files from a file
enabled     = yes

[rar]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackRar
priority    = 1
magic       = rar
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack RAR archives
enabled     = yes

[romfs]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackRomfs
priority    = 3
magic       = romfs
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack romfs file systems
enabled     = yes

[rpm]
type        = unpack
module      = bat.unpackrpm
method      = searchUnpackRPM
priority    = 3
magic       = rpm:gzip:xz:xztrailer
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Unpack RPM files
enabled     = yes

[rzip]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackRZIP
priority    = 1
magic       = rzip
noscan      = text:xml:graphics:pdf:bz2:gzip:lzip:audio:video:mp4:java
description = Unpack RZIP compressed files
enabled     = yes

[squashfs]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackSquashfs
priority    = 2
magic       = squashfs1:squashfs2:squashfs3:squashfs4:squashfs5:squashfs6:squashfs7
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Unpack squashfs file systems
enabled     = yes

[swf]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackSwf
priority    = 0
magic       = swf
noscan      = text:xml:pdf:compressed:graphics:resource:audio:video:mp4:java:elf
description = Unpack compressed Shockwave Flash files
enabled     = yes

[tar]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackTar
priority    = 7
magic       = tar1:tar2
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack tar archives
enabled     = yes

###### DO NOT USE UNLESS YOU HAVE the "unubi" tool!
[ubi]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackUbifs
priority    = 4
magic       = ubi
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4
description = Unpack UBI
enabled     = no

[upx]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackUPX
priority    = 3
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
magic       = upx
description = Unpack UPX compressed executables
enabled     = yes

#[xor]
#type        = unpack
#module      = bat.batxor
#method      = searchUnpackXOR
#priority    = 10
#noscan      = xml:graphics:pdf:compressed:audio:video:mp4:elf:temporary
#scanonly    = binary
#description = XOR 'decryption'
#enabled     = no

[xz]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackXZ
priority    = 1
magic       = xz:xztrailer
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack XZ compressed files
enabled     = yes

[yaffs2]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackYaffs2
priority    = 3
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java:elf:resource:dalvik
description = Unpack YAFFS2 file systems
enabled     = yes

[zip]
type        = unpack
module      = bat.fwunpack
method      = searchUnpackZip
priority    = 1
magic       = zip
noscan      = text:xml:graphics:pdf:bz2:gzip:lrzip:audio:video:mp4:java
description = Unpack ZIP compressed files
enabled     = yes

##################
### leaf scans ###
##################

[architecture]
type        = leaf
module      = bat.checks
method      = scanArchitecture
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Scan executable file architecture
enabled     = yes

[busybox-version]
type        = leaf
module      = bat.busyboxversion
method      = busybox_version
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Extract BusyBox version number
enabled     = yes

[dproxy]
type        = leaf
module      = bat.checks
method      = searchDproxy
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of dproxy
enabled     = yes

[ez-ipupdate]
type        = leaf
module      = bat.checks
method      = searchEzIpupdate
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of ez-update
enabled     = yes

[file2package]
type        = leaf
module      = bat.file2package
method      = filename2package
ppmodule    = bat.file2package
ppoutput    = xmlprettyprint
envvars     = BAT_PACKAGE_DB=/tmp/filepackages
description = Look up name of file in popular distributions
setup       = file2packagesetup
enabled     = no

[forges]
type        = leaf
module      = bat.checks
method      = scanForges
ppmodule    = bat.checks
ppoutput    = forgesPrettyPrint
noscan      = graphics:compressed:audio:video:mp4
description = Scan for presence of markers of forges/collaborative software development sites
enabled     = yes

[identifier]
type        = leaf
module      = bat.identifier
method      = searchGeneric
envvars     = BAT_NAMECACHE_C=/gpl/master/functioncache_c:DEX_TMPDIR=/ramdisk:BAT_STRING_CUTOFF=5
noscan      = text:xml:graphics:pdf:compressed:resource:audio:video:mp4:vimswap:timezone:ico
description = Classify packages using advanced ranking mechanism
enabled     = yes
setup       = extractidentifiersetup
priority    = 1

[iproute]
type        = leaf
module      = bat.checks
method      = searchIproute
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of iproute
enabled     = yes

[iptables]
type        = leaf
module      = bat.checks
method      = searchIptables
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of iptables
enabled     = yes

[kernelchecks]
type        = leaf
module      = bat.kernelanalysis
method      = kernelChecks
ppmodule    = bat.kernelanalysis
ppoutput    = xmlprettyprint
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Detect version number and some subsystems in Linux kernel
enabled     = yes
priority    = 2

[kernelmodulelicense]
type        = leaf
module      = bat.kernelanalysis
method      = analyseModuleLicense
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine declared Linux kernel module license
enabled     = yes

[kernelmoduleversion]
type        = leaf
module      = bat.kernelanalysis
method      = analyseModuleVersion
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine declared Linux kernel module license
enabled     = yes

[libs]
type        = leaf
module      = bat.checks
method      = searchDynamicLibs
ppmodule    = bat.checks
ppoutput    = dynamicLibsPrettyPrint
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine dynamically linked libraries
enabled     = yes

[libusb]
type        = leaf
module      = bat.checks
method      = searchLibusb
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of libusb
enabled     = yes

[licenses]
type        = leaf
module      = bat.checks
method      = scanLicenses
ppmodule    = bat.checks
ppoutput    = licensesPrettyPrint
noscan      = compressed
description = Scan for presence of license markers
enabled     = yes

[loadlin]
type        = leaf
module      = bat.checks
method      = searchLoadLin
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of libusb
enabled     = yes

[pdf]
type        = leaf
module      = bat.checks
method      = scanPDF
ppmodule    = bat.checks
ppoutput    = pdfPrettyPrint
noscan      = text:xml:graphics:compressed:audio:video:mp4:java
description = Determine characteristics of PDF files
enabled     = yes

[redboot]
type        = leaf
module      = bat.checks
method      = searchRedBoot
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of RedBoot
enabled     = yes

[uboot]
type        = leaf
module      = bat.checks
method      = searchUBoot
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of U-Boot
enabled     = yes

[vsftpd]
type        = leaf
module      = bat.checks
method      = searchVsftpd
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of vsftpd
enabled     = yes

[wireless-tools]
type        = leaf
module      = bat.checks
method      = searchWirelessTools
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of wireless-tools
enabled     = yes

[wpa-supplicant]
type        = leaf
module      = bat.checks
method      = searchWpaSupplicant
noscan      = text:xml:graphics:pdf:compressed:audio:video:mp4:java
description = Determine presence of wpa-supplicant
enabled     = yes

#######################
### aggregate scans ###
#######################

[fixduplicates]
type        = aggregate
module      = bat.fixduplicates
method      = fixduplicates
enabled     = yes
priority    = 100

[findduplicates]
type        = aggregate
module      = bat.findduplicates
method      = findduplicates
enabled     = yes
priority    = 10

[findlibs]
type        = aggregate
module      = bat.findlibs
method      = findlibs
envvars     = BAT_IMAGEDIR=/tmp/images
noscan      = text:xml:graphics:pdf:audio:video:mp4
enabled     = yes
storetarget = images
storedir    = /tmp/images
storetype   = -graph.png
cleanup     = yes
priority    = 5

[generateimages]
type        = aggregate
module      = bat.generateimages
method      = generateimages
noscan      = text:xml:graphics:pdf:audio:video:mp4
enabled     = yes
envvars     = BAT_IMAGEDIR=/tmp/images:AGGREGATE_IMAGE_SYMLINK=0
description = Generate images of results of ranking
storetarget = images
storedir    = /tmp/images
storetype   = -statpiechart.png:-piechart.png:-version.png:-funcversion.png
cleanup     = yes
priority    = 1

[generatereports]
type        = aggregate
module      = bat.generatereports
method      = generatereports
noscan      = text:xml:graphics:pdf:audio:video:mp4
enabled     = yes
envvars     = BAT_REPORTDIR=/tmp/images
description = Generate reports of results of ranking
storetarget = reports
storedir    = /tmp/images
storetype   = -assigned.html.gz:-unmatched.html.gz:-unique.html.gz:-names.html.gz:-functionnames.html.gz
cleanup     = yes
priority    = 1

[kernelversions]
type        = aggregate
module      = bat.kernelanalysis
method      = kernelmodulecheck
description = Match versions and architectures of Linux kernel images and modules
enabled     = yes
priority    = 4

[prunefiles]
type        = aggregate
module      = bat.prunefiles
method      = prunefiles
description = prune files
envvars     = PRUNE_TAGS=png,gif:PRUNE_FILEREPORT_CLEAN=1
enabled     = no
priority    = 20

[versionlicensecopyright]
type        = aggregate
module      = bat.licenseversion
method      = determinelicense_version_copyright
noscan      = text:xml:graphics:pdf:audio:video:mp4
envvars     = BAT_DB=/gpl/master/master.sqlite3:BAT_RANKING_LICENSE=1:BAT_RANKING_VERSION=1:BAT_LICENSE_DB=/gpl/master/licenses.sqlite3:BAT_KEEP_VERSIONS=10:BAT_KEEP_MAXIMUM_PERCENTAGE=50:BAT_MINIMUM_UNIQUE=10:BAT_CLONE_DB=/gpl/master/clonedb.sqlite3:BAT_STRINGSCACHE_C=/gpl/master/stringscache_c:BAT_STRINGSCACHE_JAVA=/gpl/master/stringscache_java:BAT_NAMECACHE_C=/gpl/master/functioncache_c:BAT_NAMECACHE_JAVA=/gpl/master/functioncache_java:BAT_STRING_CUTOFF=5:AGGREGATE_CLEAN=1
enabled     = yes
priority    = 3

#####################
### postrun scans ###
#####################

[hexdump]
type        = postrun
module      = bat.generatehexdump
method      = generateHexdump
noscan      = text:xml:graphics:pdf:audio:video:mp4
envvars     = BAT_REPORTDIR=/tmp/images:BAT_IMAGE_MAXFILESIZE=100000000
description = Create hexdump output of files
enabled     = no
storetarget = reports
storedir    = /tmp/images
storetype   = -hexdump.gz

[images]
type        = postrun
module      = bat.images
method      = generateImages
noscan      = text:xml:graphics:compressed:pdf:audio:video:mp4:resource
envvars     = BAT_IMAGEDIR=/tmp/images:BAT_IMAGE_MAXFILESIZE=100000000
description = Generate graphical representation of files
enabled     = no
storetarget = images
storedir    = /tmp/images
storetype   = .png

[guireport]
type        = postrun
module      = bat.guireport
method      = guireport
noscan      = text:xml:graphics:compressed:pdf:audio:video:mp4:resource
envvars     = BAT_REPORTDIR=/tmp/images:BAT_IMAGEDIR=/tmp/images
description = Generate reports for scanned files
enabled     = yes
storetarget = reports
storedir    = /tmp/images
storetype   = -guireport.html.gz:-elfreport.html.gz
cleanup     = yes
